{% extends 'base.html' %}
{% block header%}
    {{ certificate.event.name }} Certificates
{% endblock %}
{% block content %}

        <form style="margin-right:200px; margin-left:200px" action="{% url 'certificate_download' certificate.id %}" method="post">
            {% csrf_token %}
          <div class="mb-3">
            <label for="inputemail" class="form-label">Email address</label>
            <input type="email" name="email" id="email" class="form-control" id="inputemail" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text"> Enter the registered email address.</div>
          </div>
          <button type="submit" class="btn btn-primary">Download</button>
        </form>


        <div class="modal" id="invalidModal" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Invalid Email</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onClick="$('#invalidModal').hide()"></button>
              </div>
              <div class="modal-body">
                <p>
                    The requested certificate is unavailable for your email address. Please enter proper email and retry.
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onClick="$('#invalidModal').hide()">Close</button>
              </div>
            </div>
          </div>
        </div>
          <!--<center><h4>Problem in downloading the certificate? Write to us at <a href="mailto:certificates@fossee.in">certificates[at]fossee[dot]in</a></h4>-->
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function(){
        value = "{{ v }}"
        email = ""
        error = "{{ error }}"
        if(error == "True"){
            $("#invalidModal").show();
        }
        if(value == "paper"){
            $('#A').prop('checked', true)
            email = "{{ user_project.0.email }}";
        }
        $('#email').val(email);
        notreg = "{{ notregistered }}";
        if(notreg == "1"){
            $("#invalidModal").show();
        }
        $("[name=type]").change(function(){
            $("#paper").remove();
        });
   });
</script>
{% endblock %}
