{% extends 'base.html' %}

{% block header%}
    Certificate Verification
{% endblock %}
{% block content %}
    <div style="margin-right:200px; margin-left:200px">
    {% if has_details %}
    <br>
    <div>
        <caption> Following are the details<br></caption>
        <table class="table table-primary table-bordered" >
            <tbody>
                {% for key, value in details.items %}
                <tr>
                    <td>{{ key | title  }}</td>
                    <td>{{ value }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="bg-white">
        {{ description | safe }}
	<br>
        </div>
    </div>

    {% endif %}
    </div>
{% endblock %}
