{% extends 'base.html' %}

{% block header%}
    Certificate Verification 
{% endblock %}
{% block content %}
        <div class="modal" id="invalidModal" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Invalid Serial Key</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onClick="$('#invalidModal').hide()"></button>
              </div>
              <div class="modal-body">
                <p>
                    Sorry ! The serial number you entered seems to be invalid. Please try again !
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onClick="$('#invalidModal').hide()">Close</button>
              </div>
            </div>
          </div>
        </div>
    <div style="margin-right:200px; margin-left:200px">
          <p> Enter the alphanumeric characters below the QR code<br> OR <br>Enter the serial number you received while scanning the QR code on certificate</p>
    <form style="margin-right:200px; margin-left:200px"action="{% url 'verify'  %}" method="post">
        {% csrf_token %}
        <div class="input-group" >
            <input class="form-control input-lg" placeholder="Enter the serial number" type="text" name="key">
              <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="submit">Verify</button></span>
        </div>
    </form>
    {% if has_details %}
    <br>
    <div>
        <caption> Following are the details</caption> 
        <table class="table table-primary table-bordered" >
            <tbody>
                {% for key, value in details.items %}
                <tr>
                    <td>{{ key | title  }}</td>
                    <td>{{ value }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="bg-white">
        {{ description | safe }}
        </div>
    </div>

    {% endif %}
    </div>
{% endblock %}


{% block javascript %}
<script>
invalid_serial = {{ invalidserial }}
$( document ).ready(function() {
    if(invalid_serial == 1)
    {
        $("#invalidModal").show(); 
    }
});
</script>
{% endblock %}

